<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.issuetracker.mapper.IssueListMapper">
    <select id="findIssueList" resultMap="issueList" parameterType="java.lang.Long">
        SELECT i.id AS issueId, i.title AS title, i.content AS content, u.login_id AS userName,
        u.profile_url AS profileUrl, i.opened AS opened, i.created_at AS createdAt, i.closed_at AS closedAt
        , m.name AS milestoneName, l.id AS labelId, l.name AS labelName, l.background_color AS backgroundColor, l.font_color AS fontColor
        FROM issue i
        LEFT OUTER JOIN issue_label il ON i.id = il.issue_id
        LEFT OUTER JOIN label l ON l.id = il.label_id
        LEFT OUTER JOIN assignee a ON a.issue_id = i.id
        JOIN user u ON u.id =  i.user_id
        LEFT OUTER JOIN milestone m ON m.id = i.milestone_id
        WHERE i.id IN
        <foreach item="item" collection="filteredIssueIdList" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY i.id DESC
    </select>

    <resultMap type="com.issuetracker.domain.IssueListPage" id="issueList">
        <id column="issueId" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="userName" property="userName" />
        <result column="profileUrl" property="profileUrl" />
        <result column="opened" property="opened" />
        <result column="createdAt" property="createdAt" />
        <result column="closedAt" property="closedAt" />
        <result column="milestoneName" property="milestoneName" />
        <result column="labelId" property="labelId" />
        <result column="labelName" property="labelName" />
        <result column="backgroundColor" property="backgroundColor" />
        <result column="fontColor" property="fontColor" />
    </resultMap>
</mapper>
