<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.issuetracker.mapper.IssueIdListMapper">
    <select id="findIssueIdList" resultType="java.lang.Long" parameterType="com.issuetracker.dto.issueList.Filter">
        <bind name="pattern" value="'%' + (search != null ? search : '') + '%'" />
        SELECT i.id AS issueId
        FROM issue i
        LEFT OUTER JOIN issue_label il ON i.id = il.issue_id
        LEFT OUTER JOIN (SELECT * from label WHERE deleted IS FALSE) l ON l.id = il.label_id
        LEFT OUTER JOIN assignee a ON a.issue_id = i.id
        JOIN user u ON u.id =  i.user_id
        LEFT OUTER JOIN (SELECT * from milestone WHERE deleted IS FALSE) m ON m.id = i.milestone_id
        <where>
            i.deleted_at IS NULL AND i.opened = #{openStatus}
            <if test="label != null and label.size() > 0">
                <foreach item="labelId" collection="label">
                    AND l.id = #{labelId}
                </foreach>
            </if>
            <if test="assignee != null and assignee.size() > 0">
                <foreach item="assigneeId" collection="assignee">
                    AND a.user_id = #{assigneeId}
                </foreach>
            </if>
            <if test="milestone != null">
                AND m.id = #{milestone}
            </if>
            <if test="writer != null">
                AND i.user_id = #{writer}
            </if>
            <if test="search != null">
                AND i.title LIKE #{pattern}
            </if>
            GROUP BY i.id
            ORDER BY i.id DESC
            LIMIT 10
            <if test="pageNum != null">
                OFFSET #{offset}
            </if>
        </where>
    </select>
</mapper>
